.cal {
  width: 200px;
}

#peso,
#altura {
  padding: 10 px;
  margin-top: 5px;
  text-align: end;
  width: 100%;
  font-size: 20px;
}

label {
  display: block;
  color: rgba(2, 2, 46, 0.993);
  font-weight: 700;
}

button {
  display: block;
  padding: 15px 10px;
  margin-top: 10px;
  width: 185px;
  width: 103%;
  font-weight: 700;
  font-size: large;
}

.mensagem {
  text-align: center;
  color: white;
}
