body {
  font-size: 25px;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgb(70, 125, 195),
    rgb(15, 40, 70)
  );
  text-align: center;
}
